@font-face {
    font-family: "titleFont";
    src: url("Fonts/Algerian_Regular.ttf");
}
  
*{
    padding: 0px;
    margin: 0px;
}
body{
    display: grid;
    grid-template-rows: 90px auto 2fr 1fr;
    width: 100vw;
    height: 100vh;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}


.header{
    position: sticky;
    top: 0vh;
    background-color: rgba(223, 179, 98, 0.7);
    height: 90px;
    display: grid;
    align-items: center;
}
#backgroundImage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    object-fit: cover;
    z-index: -1;
}


#lobby{
    display: grid;
    gap: 75px;
    grid-template-columns: 1fr 1fr;
}
.title{
    padding: 20px;
    margin-bottom: 60px;
    font-size: 80px;
    text-align: center;
}


form.playerCustomization{
    display: grid;
    grid-template: auto auto 1fr / auto auto;
    height: 300px;
    width: 100%;
    gap: 20px;
    justify-content: right;
    align-items: center;
    padding: 20px;
}
form.playerCustomization label{
    font-weight: bold;
    font-size: 40px;
    padding-left: 10px;
    grid-area: 1 / 1 / 2 / 3;
}
form.playerCustomization input.playerName{
    font-size: 30px;
    border-radius: 15px;
    padding-left: 10px;
    height: 50px;
    grid-area: 2 / 1 / 3 / 2;
}
form.playerCustomization input.colorSelect{
    align-self: center;
    width: 50px;
    height: 50px;
    grid-area: 2 / 2 / 3 / 3;
}
form.playerCustomization input.joinGame{
    width: 300px;
    height: 75px;
    border-radius: 50px;
    font-size: 40px;
    background-color: aquamarine;
    grid-area: 3 / 1 / 4 / 3;
    margin-top: 20px;
}
#startGame{
    justify-self: center;
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold;;
    border-radius: 10px;
}


ul#playerList{
    list-style-type: none;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
#playerList .player{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}
#playerList .player .playerColor{
    width: 50px;
    height: 50px;
}
#playerList #leaveLobbyButton{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
    border-radius: 100%;
    background-color: rgb(134, 11, 11);
}


#loadingScreen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #e8c991;
    z-index: 100;
}
#loadingScreen #title{
    position: absolute;
    top: 25vh;
    justify-self: center;
    align-self: center;
    font-size: 150px;
    font-family: "titleFont";
}
#loadingScreen #progressBar{
    width: 50vw;
    accent-color: rgb(60, 60, 60);
    justify-self: center;
    align-self: center;
    height: 75px;
}
#loadingScreen p{
    position: fixed;
    top: 90vh;
    justify-self: center;
    font-size: 32px;
}


#gameOverview{
    position: fixed;
    left: 2vh;
    display: grid;
    grid-template-rows: auto auto;
    font-size: 36px;
    font-weight: bold;
}

#infoIcon{
    width: 50px;
    position: fixed;
    top: 2vh;
    left: 95vw;
}
#rulesDoc{
    width: 50px;
    position: fixed;
    left: 45vw;
    top: 30vh;
}

#newRound{
position: fixed;
justify-self: center;
width: 100vw;
height: 40vh;
top: 30vh;
display: grid;
grid-template-rows: repeat(3, auto);
justify-content: center;
text-align: center;
color: white;
background-color: rgba(70, 70, 70, 0.90);
z-index: 11;
}
#newRound #intro{
    font-size: 80px;
    font-weight: bold;
}
#newRound p{
    font-size: 40px;
}

.myself{
    position: fixed;
    top: 40vh;
    width: 100vw;
    height: 60vh;
    font-size: 38px;
    text-align: center;
    display: grid;
    grid-template: auto 1fr / 250px 1fr;
}
.myself .stats img{
    width: 100px;
}
.stats{
    display: grid;
    grid-template: repeat(3, auto) / auto auto;
    gap: 10px;
    align-items: center;
    background-color: rgb(180, 180, 180);
    font-weight: bold;  
    padding: 10px;  
    justify-items: center;

}
.stats p:not(.playerName){
    justify-self: left;
}
.stats .playerName{
    grid-column: 1 / 3;
    text-align: center;
    width: 100%;
    overflow: auto;
}
.myself .stats .playerName{
    font-size: max(30px, auto);
}
#opponentDisplay .stats .playerName{
    font-size: min(16px, auto);
}
.vendor .playerName{
    text-decoration: underline;
}
#opponentDisplay div[id^="player"]{
    display: grid;
    grid-template: auto 1fr / auto auto;
    row-gap: 10px;
    height: 200px;
    padding: 20px;
}
div[id^="player"] .status{
    grid-area: 1 / 1 / 2 / 3;
    width: 30px;
    justify-self: center;
}
#opponentDisplay .stats img{
    width: 40px;
}
#opponentDisplay .stats{
    width: 100px;
}
#opponentDisplay{
    display: grid;
    grid-template-columns: auto auto;
    justify-self: center;
    margin-top: -10px;
}
#opponentDisplay .later{
    display: grid;
    grid-template-columns: repeat(5, auto);
}
#opponentDisplay .prior{
    display: grid;
    grid-template-columns: repeat(5, auto);
}
#opponentDisplay .tableau{
    grid-area: 2 / 2 / 3 / 3;
} 
#opponentDisplay .tableau div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
    justify-content: center;
    width: 90px;
}
#opponentDisplay .good{
    width: 40px;
    padding: 2px;
}
#blownUpGood{
    position: fixed;
    left: 42vw;
    top: 240px;
    width:300px;
    z-index: 10;
}
.tableau{
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}
.myself .tableau div{
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-template-rows: min-content;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.myself .tableau div img{
    width: 250px;
    padding: 10px;
}
 .Fruits{
    background-color: rgba(234,192,160,0.5);
}
 .Crops{
    background-color: rgba(207,139,77, 0.5);
}
.Trinkets{
    background-color: rgba(143,168,181,0.5);
}


#draftingPopUp{
    position: absolute;
    justify-self: center;
    display: flex;
    gap: 75px;
    padding: 25px;
    margin-top: 30px;
    background-color: rgba(182, 126, 126, 0.4);
}


#reserve{
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    top: 80vh;
    width: 250px;
    height: 200px;
}
#reserve img.icon{
    position: absolute;
    width: 100px;
    z-index: 3;
}
#reserve img.icon.reserved2{
    transform: rotate(8deg) translateX(50px) translateY(-5px);
    z-index: 2;
}
#reserve img.icon.reserved0{
    transform: rotate(-8deg) translateX(-50px) translateY(-5px);
    z-index: 1;
}
#detailedReserve{
    position: absolute;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 25px;
    margin-top: 30px;
    background-color: rgba(182, 126, 126, 0.4);
    background-color: rgba(160, 160, 160, 0.7);
    z-index: 6;
}
#detailedReserve>div{
    padding: 20px;
}

#visibilityToggle{
    width: 60px;
    z-index: 10;
}

#goodSelectionDiv{
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-size: 40px;
    margin: 30px 0px;
    background-color: rgba(160, 160, 160, 0.7);
    position: absolute;
    justify-self: center;
    justify-items: center;
    align-items: center;
    border-radius: 50px;
    z-index: 5;
}
#goodSelectionDiv #message{
    grid-row: 2 / 3;
}
#selectionPopUp{
    grid-row: 3 / 4;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    padding: 0px 20px 10px 20px;
}
#selectionPopUp div[id^="selected"] {
    display: grid;
    background-color: rgb(173, 224, 125);
    padding: 20px;
}
#selectionPopUp img[id^="selected"]{
    width: 407px;
}
#selectionPopUp div:not([id^="selected"]){
    padding: 30px;
}
#selectionPopUp #setPrice{
    grid-column: 1 / 4;
    width: 75px;
    height: 75px;
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
#selectionPopUp button{
    grid-area: 3 / 1 / 4 / 4;
    width: 100px;
}

#selectionPopUp>div.typeContainer{
    align-self: baseline;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
    justify-content: center;
    width: auto;
    height: 100%;
    padding: 0px;
}

#selectionPopUp>div.typeContainer img{
    width: 150px;
}

#selectionPopUp>div.typeContainer>div{
    padding: 5px;
    margin-bottom: auto;
}

#offerContainer{
    position: fixed;
    top: 30px;
    display: grid;
    justify-self: center;
    background-color: rgba(160, 160, 160, 0.7);
    justify-items: center;
    height: fit-content;
    border-radius: 30px;
    z-index: 5;
    grid-template-rows: auto auto;
}
#currentOffer{
    z-index: 5;
    display: grid;
    display: grid;
    column-gap: 20px;
    justify-items: center;
}
#currentOffer #goodsForSale{
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
#goodsForSale .goodForSale{
    padding: 15px;
}
#currentOffer .goodPrice{
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}
#currentOffer #workerDiv{
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template: auto auto / auto auto;
    align-self: center;
    justify-items: center;
}
#currentOffer #workerDiv input{
    grid-row: 2 / 3;
    width: 40px;
    height: 40px;
}
#workerDiv div{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    padding:20px;
    font-size: 50px;
}
#currentOffer button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    justify-self: center;
    margin-bottom: 10px;
}
#currentOffer #chooseBuy{
    grid-area: 3 / 1 / 4 / 2;
}
#chooseBuy.Fruit{
    background-color: rgb(234,192,160);
}
#chooseBuy.Crop{
    background-color: rgb(207,139,77);
}
#chooseBuy.Trinket{
    background-color: rgb(143,168,181);
}
#currentOffer #chooseInvest{
    grid-area: 3 / 2 / 4 / 3;
    background-color: rgb(235, 210, 74);
}


#discount{
    position: fixed;
    top: 40vh;
    justify-self: center;
    background-color: antiquewhite;
    padding: 20px;
    font-weight: bold;
    font-size: 90px;
    z-index: 7;
}
#canvas{
    position: fixed;
    top: 90px;
    height: calc(100vh - 90px);
    width: 100vw;
    z-index: 6;
}


#abilityConfirmation{
    width: 400px;
    display: grid;
    grid-template: auto auto / auto auto;
    justify-self: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    background-color: pink;
    z-index: 5;
}
#abilityConfirmation p{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 30px;
}
#abilityConfirmation button{
    grid-area: 2 / 1 / 3 / 2;
}
#abilityConfirmation #activateAbility{
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(99, 190, 99);
}
#abilityConfirmation #cancelAbility{
    background-color: rgb(109, 23, 23);
}

#guavaContainer{
    position: absolute;
    top: 30px;
    justify-self: center;
    display: grid;
    justify-items: center;
    background-color: rgba(160, 160, 160, 0.7);
}
#guavaDiv{
    justify-items: center;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
#guavaDiv input{
    font-size: 36px;
    width: 75px;
    height: 75px;
    margin: 20px;
    text-align: center;
}

#maskContainer{
    position: absolute;
    top: 30px;
    justify-self: center;
    display: grid;
    justify-items: center;
    background-color: rgba(160, 160, 160, 0.7);
}
#maskDiv{
    justify-items: center;
    display: grid;
    grid-template: auto auto / auto auto auto;
    row-gap: 15px;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}
#maskDiv p{
    text-align: center;
    width: 500px;
    height: auto;
    justify-self: left;
    align-self: end;
}
#maskDiv img{
    grid-area: 1 / 2 / 3 / 3;
}
#maskDiv input{
    font-size: 36px;
    width: 75px;
    height: 75px;
    margin: 20px;
    text-align: center;
}
#maskDiv button{
    grid-column: 1 / 4;
}

.tableau>div>div.good{
    display: grid;
    grid-template: auto / auto;
}
.tableau>div>div.good img{
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
}

#cropSaleContainer{
    position: absolute;
    top: 30px;
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    background-color: rgba(160, 160, 160, 0.7);
    z-index: 4;
}
#cropSale{
    display: grid;
    grid-template: auto auto auto auto/ auto auto;
    justify-items: center;
    column-gap: 80px;
    padding: 20px;
}
#cropSale img{
    width: 300px;
}
#cropSale input{
    width: 75px;
    height: 75px;
    margin: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
}
#cropSale button{
    grid-column: 1 / 3;
    margin-top: -75px;
}
#cropSale p {
    font-size: 90px;
    font-weight: bold;
}


#finalScoreContainer{
    position: absolute;
    top: 25vh;
    height: auto;
    width: fit-content;
    display: grid;
    justify-items: center;
    justify-self: center;
    z-index: 9;
    background-color: rgb(211, 186, 43);
}
#finalScores{
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    gap: 51px;
    padding: 25px;
}
#finalScores div{
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 60px;
}
#finalScores div span{
    text-align: center;
}

#adminDiv{
    position: absolute;
    top: 0px;
    justify-self: center;
}
#disappearingMessage{
    position: absolute;
    justify-self: center;
    align-self: center;
    font-size: 100px;
    font-weight: bold;
    color: red;
    background-color: rgba(160, 160, 160, 0.7);
    z-index: 20;
}
#error{
    position: fixed;
    justify-self: center;
    align-self: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(133, 20, 20);
}