*{
    padding: 0px;
    margin: 0px;
}
body{
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 30px;
    width: 100%;
    height: 100vh;
}
.header{
    background-color: rgb(223, 179, 98);
    height: 75px;
}


#lobby{
    display: grid;
    gap: 75px;
    grid-template-columns: 1fr 1fr;
}
.title{
    padding: 20px;
    font-size: 80px;
    text-align: center;
}


form.playerCustomization{
    display: grid;
    grid-template: repeat("auto", 3) / auto auto;
    width: 100%;
    gap: 20px;
    justify-content: right;
}
form.playerCustomization label{
    font-weight: bold;
    font-size: 40px;
    padding-left: 10px;
    grid-area: 1 / 1 / 2 / 3;
}
form.playerCustomization input.playerName{
    font-size: 30px;
    border-radius: 15px;
    padding-left: 10px;
    grid-area: 2 / 1 / 3 / 2;
}
form.playerCustomization input.colorSelect{
    align-self: center;
    width: 50px;
    height: 50px;
    grid-area: 2 / 2 / 3 / 3;
}
form.playerCustomization input.joinGame{
    width: 300px;
    height: 75px;
    border-radius: 50px;
    font-size: 40px;
    background-color: aquamarine;
    grid-area: 3 / 1 / 4 / 3;
    margin-top: 20px;
}
#startGame{
    justify-self: center;
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold;;
    border-radius: 10px;
}


ul#playerList{
    list-style-type: none;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
#playerList .player{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}
#playerList .player .playerColor{
    width: 50px;
    height: 50px;
}
#playerList #leaveLobbyButton{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
    border-radius: 100%;
    background-color: rgb(134, 11, 11);
}


.myself{
    position: fixed;
    top: 40vh;
    width: 100%;
    height: 100%;
    font-size: 38px;
    text-align: center;
    display: grid;
    grid-template: auto 1fr / 250px 1fr;
}
.myself .stats img{
    width: 100px;
}
.stats{
    display: grid;
    grid-template: repeat(3, auto) / auto auto;
    gap: 10px;
    align-items: center;
    background-color: rgb(180, 180, 180);
    font-weight: bold;  
    padding: 10px;  
}
.myself .stats .playerName{
    grid-column: 1 / 3;
    font-size: 48px;
}
#opponentDisplay div[id^="player"]{
    display: grid;
    grid-template: 200px minmax(auto, 0px) / auto auto;
}
#opponentDisplay .stats .playerName{
    grid-column: 1 / 3;
    font-size: 24px;
}
#opponentDisplay .stats img{
    width: 40px;
}
#opponentDisplay .stats{
    width: 100px;
    justify-items: center;
}
#opponentDisplay{
    display: flex;
    gap: 50px;
    justify-self: center;
}
.tableau{
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#opponentDisplay .tableau div{
    display: grid;
    grid-template: repeat("autofill", auto) / repeat(2, auto);
    width:100px;
}
#opponentDisplay .good{
    width: 40px;
    padding: 5px;
}
#opponentDisplay .good.blownUpGood{
    width:300px;
    z-index: 10;
}
.myself .tableau div{
    display: grid;
    grid-template-columns: repeat(min(3, autofill), 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    height: 100%;
}
.myself .tableau div img{
    width: 300px;
}
.tableau .Fruits{
    background-color: rgba(234,192,160,0.4);
}
.tableau .Crops{
    background-color: rgba(207,139,77, 0.4);
}
.tableau .Trinkets{
    background-color: rgba(143,168,181,0.4);
}


#draftingPopUp{
    position: absolute;
    justify-self: center;
    display: flex;
    gap: 75px;
    padding: 25px;
    margin-top: 150px;
    background-color: rgba(182, 126, 126, 0.4);
}


#reserve{
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    top: 80vh;
    width: 250px;
    height: 200px;
}
#reserve img.icon{
    position: absolute;
    width: 100px;
    z-index: 3;
}
#reserve img.icon.reserved2{
    transform: rotate(8deg) translateX(50px) translateY(-5px);
    z-index: 2;
}
#reserve img.icon.reserved0{
    transform: rotate(-8deg) translateX(-50px) translateY(-5px);
    z-index: 1;
}
#detailedReserve{
    position: absolute;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    gap: 75px;
    padding: 25px;
    margin-top: 150px;
    background-color: rgba(182, 126, 126, 0.4);
    z-index: 4;
}

#visibilityToggle{
    width: 50px;
}

#goodSelectionDiv{
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-size: 40px;
    margin-bottom: 30px;
    background-color: #e1cbcb;
    position: absolute;
    justify-self: center;
    justify-items: center;
    align-items: center;
    margin-top: 200px;
    padding: 25px;
    z-index: 5;
}
#goodSelectionDiv #visibilityToggle{
    grid-row: 1 / 2; 
    width: 50px;
}
#goodSelectionDiv #message{
    grid-row: 2 / 3;
}
#selectionPopUp{
    grid-row: 3 / 4;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    padding: 25px;
}
#selectionPopUp div[id^="selected"] {
    display: grid;
    background-color: rgb(173, 224, 125);
    padding: 20px;
}
#selectionPopUp img[id^="selected"]{
    width: 407px;
}
#selectionPopUp div:not([id^="selected"]){
    padding: 30px;
}
#selectionPopUp #setPrice{
    grid-column: 1 / 4;
    width: 75px;
    height: 75px;
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
#selectionPopUp button{
    grid-area: 3 / 1 / 4 / 4;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 30px;
}


#offerContainer{
    display: grid;
    justify-self: center;
    background-color: rgba(160, 160, 160, 0.7);
    justify-items: center;
    height: fit-content;
    z-index: 5;
    grid-template-rows: auto auto;
}
#currentOffer{
    z-index: 5;
    display: grid;
    grid-template: auto auto auto / auto auto;
    padding: 20px;
    column-gap: 20px;
    justify-items: center;
}
#currentOffer img{
    grid-row: 1 / 2;
}
#currentOffer .goodPrice{
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}
#currentOffer button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
}
#currentOffer #chooseBuy{
    grid-area: 3 / 1 / 4 / 2;
    justify-self: left;
    margin-left: 20px;
}
#chooseBuy.Fruit{
    background-color: rgb(234,192,160);
}
#chooseBuy.Crop{
    background-color: rgb(207,139,77);
}
#chooseBuy.Trinket{
    background-color: rgb(143,168,181);
}
#currentOffer #chooseInvest{
    grid-area: 3 / 2 / 4 / 3;
    background-color: rgb(196, 180, 92);
    background-color: rgb(235, 210, 74);
    justify-self: right;
    margin-right: 20px;
}

#abilityConfirmation{
    width: 400px;
    display: grid;
    grid-template: auto auto / auto auto;
    justify-self: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
    background-color: pink;
    z-index: 5;
}
#abilityConfirmation p{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 30px;
}
#abilityConfirmation button{
    grid-area: 2 / 1 / 3 / 2;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 25px;
}
#abilityConfirmation #activateAbility{
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(99, 190, 99);
}
#abilityConfirmation #cancelAbility{
    background-color: rgb(109, 23, 23);
}